/* коли розмір сторінки менше ніж 767.98px, то перші три картинки залишаються, а інші - ховаються */
@media (max-width: 767.98px) {
  .logos > :nth-child(n + 4) {
    display: none;
  }
}

.logo-container {
  height: 150px;
  border: 1px solid var(--border-logo-container);
  padding: 25px 40px;
  max-width: 273px;
  @media (max-width: 576px) {
    margin-bottom: 30px;
  }
}

.client-name-text{
  font-size: 16px;
}

