<section
  class="container fastest-way-to-orginize flex-wrap container-lg d-flex justify-content-center mt-5"
>
  <div
    class="d-flex justify-content-center align-items-center align-items-md-start flex-column col-12 col-md-3 text-center text-md-start mb-3 mb-md-0"
  >
    <h2>Fastest way to organize</h2>
    <p>
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
    <button type="button" class="btn btn-primary px-4">Try For Free</button>
  </div>
  <div class="col-12 col-sm-9">
    <img class="laptop-image" src="images/laptop.png" alt="laptop" />
  </div>
</section>
