<section class="container fast-prototyping mt-5 d-flex justify-content-center">
  <div>
    <img
      src="../images/newsletter-icon.svg"
      alt="envelope with a letter and a man on a background"
      class="envelope-image d-none d-md-block d-xl-none d-xxl-none"
    />
  </div>
  <div>
    <div class="d-none d-md-block">
      <h3>At your fingertips</h3>
      <h2>Lightning fast prototyping</h2>
      <h3>Subscribe to our Newsletter</h3>
    </div>
    <p>Available exclusivery on Figmaland</p>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Your Email</label>
    </div>
    <button type="button" class="btn btn-primary px-4 w-100">Subscribe</button>
  </div>
</section>
