<header class="d-flex flex-column justify-content-between">
  
  <nav class="navbar navbar-expand-md navbar-light navbar-dark shadow-5-strong">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../images/figma-logo.png" alt="figma logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div
    class="container-introduction container d-flex flex-column align-items-center mt-5"
  >
    <h2 class="text-center">The best products start with Figma</h2>
    <p class="text-center ">
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
    <button type="button" class="btn btn-primary mt-5">Try For Free</button>
  </div>

</header>
