<section class="container partners mt-5">
  <div class="text-center">
    <h2>Partners</h2>
    <p>
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
  </div>
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <div
      class="row logos align-items-center justify-content-center text-center"
    >
      <div class="logo-container col-12 col-sm-6 col-md-4 col-lg-3">
        <p class="client-name-text">Client name</p>
        <img class="w-100" src="images/google-logo.svg" alt="google logo" />
      </div>
      <div class="logo-container col-12 col-sm-6 col-md-4 col-lg-3">
        <p class="client-name-text">Client name</p>

        <img class="w-100" src="images/amazon-logo.svg" alt="amazon logo" />
      </div>
      <div class="logo-container col-12 col-sm-6 col-md-4 col-lg-3">
        <p class="client-name-text">Client name</p>

        <img
          class="w-100"
          src="images/microsoft-logo.svg"
          alt="microsoft logo"
        />
      </div>
      <div class="logo-container col-12 col-sm-6 col-md-4 col-lg-3">
        <p class="client-name-text">Client name</p>
        <img class="w-100" src="images/uber-logo.svg" alt="uber logo" />
      </div>
      <div class="logo-container col-12 col-sm-6 col-md-4 col-lg-3">
        <p class="client-name-text">Client name</p>
        <img class="w-100" src="images/dropbox-logo.svg" alt="dropbox logo" />
      </div>
      <div class="logo-container col-12 col-sm-6 col-md-4 col-lg-3">
        <p class="client-name-text">Client name</p>
        <img class="w-100" src="images/google-logo.svg" alt="google logo" />
      </div>
      <div class="logo-container col-12 col-sm-6 col-md-4 col-lg-3">
        <p class="client-name-text">Client name</p>
        <img class="w-100" src="images/uber-logo.svg" alt="uber logo" />
      </div>
      <div class="logo-container col-12 col-sm-6 col-md-4 col-lg-3">
        <p class="client-name-text">Client name</p>
        <img class="w-100" src="images/amazon-logo.svg" alt="amazon logo" />
      </div>
    </div>

    <button type="button" class="btn btn-primary px-4 mt-3">Try For Free</button>
  </div>
</section>
