.navbar {
  padding-top: 54px;
}

.figma-logo {
  margin-right: 270px;
}

header {
  background-image: url(images/background-laptop.jpg);
  color: white;
  background-position: bottom;
  height: 926px;
}

.btn-primary {
  border-radius: 21px;
}

.container-features {
  margin-top: 80px;
}

.container-fastest-way-to-orginize {
  margin-top: 220px;
}

.container-fast-prototyping {
  margin-top: 220px;
}

.container-partners {
  margin-top: 220px;
}