.navbar {
  padding-top: 54px;
}

.figma-logo {
  margin-right: 270px;
}

header {
  background-image: url(images/background-laptop.jpg);
  color: white;
  background-position: bottom;
  height: 926px;
}

.btn-primary,
.form-control {
  border-radius: 21px;
}

.container-features {
  margin-top: 80px;
}

.container-fastest-way-to-orginize,
.container-fast-prototyping,
.container-partners {
  margin-top: 220px;
}

/* коли розмір сторінки менше ніж 767.98px, то перші три картинки залишаються, а інші - ховаються */
@media (max-width: 767.98px) {
  .logos > :nth-child(n + 4) {
    display: none;
  }
}
